Python== 3.9.2
annotated-types==0.6.0
anyio==3.7.1
atomicwrites==1.4.0
attrs==21.4.0
click==8.1.7
colorama==0.4.4
exceptiongroup==1.2.0
fastapi==0.104.1
h11==0.14.0
idna==3.6
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydantic==2.5.2
pydantic-core==2.14.5
pytest==7.0.0
